:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --bold-txt: hsl(234, 12%, 34%);
    --card-txt: hsl(229, 6%, 66%);
    --main-bkg: hsl(0, 0%, 98%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    height: 100vh;
    background: var(--main-bkg);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 30px;
    /* border: solid 10px goldenrod; */
    background: var(--main-bkg);
}

.main_text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.top_title {
    margin-top: 2rem;
    font-weight: 200;
}

.bold_power {
    margin-bottom: 1rem;
}

.top_text {
    font-weight: 200;
    color: var(--card-txt);
    text-align: center;
    margin-bottom: 3rem;
    max-width: 300px;
}

.card_wrapper {
    display: grid;
    grid-gap: 25px;
    padding: 30px;
    grid-template-columns: 1fr;
    /* border: solid 5px royalblue; */
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 270px;
    padding: 20px;
    /* border: solid 5px salmon; */
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.title {
    margin-bottom: .5rem;
}

.card_text {
    color: var(--card-txt);
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 3rem;
}

img {
 height: 50px;
 width: 50px;
 align-self: flex-end;
}

.super_card {
    border-top: solid 5px var(--cyan);
}

.team_card {
    border-top: solid 5px var(--red);
}

.karma_card {
    border-top: solid 5px var(--orange);
}

.calc_card {
    border-top: solid 5px var(--blue);
}

@media (min-width: 989px){
    .card_wrapper {
        display: grid;
        grid-gap: 25px;
        padding: 30px;
        grid-template-columns: 1fr;
        border: solid 5px royalblue;
        justify-items: center;
    }
}


.attribution {
    left: 0;
    bottom: 0;
    width: 100%;
    color: lightblue;
    text-align: center;
}

.attribution a {
    list-style: none;
    text-decoration: none;
    color: lightseagreen;
}